*{
	margin:0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
}
body{
	background: #000000 url(../img/bg.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.container{
	min-height: 300px;
}
.clearfix{
	clear: both;
}
#logo{
	background: #607B44;
	width: 1050px;
	height: 107px;
	margin: auto;
	border-left: #9FB95B 5px solid;
	border-right: #9FB95B 5px solid;
}

#logo h1{
	font-size: 30px;
	font-weight: normal;
	color:#fff;
	float: left;
	padding: 10px;
	margin-top: 35px;
}
#logo img{
	float: left;
	padding: 10px;	
}
#menu{
	width: 1050px;
	margin: auto;
	height: 66px;
	background: url(../img/header/menu_bg.png);
	clear: both;
}
#menu ul{
	padding-left: 0px;
    list-style: none;
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
	width: 100%;
}

#menu ul li{
	display: inline;
}
#menu ul li a{
	font: 16px Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
	text-align: center;
    display: block;
    float: left;
    /*width: 154px;*/
    width: 16.66%;
    height: 61px;
	line-height: 61px;
}
#menu ul li a:hover,  #menu ul li .active{
	background: url(../img/header/active.png) center;
}
footer{
	width: 1040px;
	margin: auto;
}
#updates,#social-media,#testimonials{
	float: left;
	width: 31.33%;
	margin: 10px;
	padding-bottom: 20px;
	border-bottom: 1.4px dotted #ffffff;
	min-height: 180px;
}
#updates h2,#social-media h2,#testimonials h2{
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1.3px dotted #ffffff;
	padding-bottom: 10px;
	padding-left: 10px;
}
#updates p{
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 30px;
}
.facebook,.twitter{
	padding-left: 30px;
    margin-left: 30px;
}
.facebook{
	background: url(../img/footer/facebook_link.png) no-repeat 0px 2px;
	margin-top: 20px;
}
.twitter{
	background: url(../img/footer/twitter_link.png) no-repeat 0px 2px;
	margin-top: 10px;
}

.facebook a,.twitter a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.facebook a:hover,.twitter a:hover{
	color: #ffffff;
}
.ls{
    list-style: none;
    padding-left: 0px;
    margin-left: 30px;
    margin-top: 20px;
}
.ls li{
    background: url(../img/footer/ls.gif) no-repeat 0px 6px;
    margin-bottom: 8px;
    padding-left: 15px; 
}
.ls li a{
	color: black;
	text-decoration: none;
	border-bottom: 1.4px dotted #ffffff;
}
.ls li a:hover{
	color: #ffffff;
}
#copyright{
	margin-top: 40px;
	margin-bottom: 80px;
}
#copyright p{
	font-weight: bold;
	text-decoration: none;
	color: black;
}

/*start----------------Bootstrap Carousel----------------*/
#contentCarousel .carousel-inner .item{
	width: 80%;
	margin: auto;
	margin-top: 50px;
}
.left,.right{
	background: none !important;
}
/*end----------------Bootstrap Carousel----------------*/